  .wrapper {
      margin: 0;
  }

  .timecalculator {
      font-family: OpenSans, Arial, sans-serif;
      display: flex;
      text-align: left;
      padding: 1rem;
      background-color: #fff350;
  }

  table{
    margin-bottom: 1rem;
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .table__header{
    height: 2rem;
  }

  input {
      width: 7rem;
  }

  .input--time,
  .input--text {
      padding: 0.25rem;
      font-size: 1rem;
  }

  .input--checkbox{
    height: 1.8rem;
  }

  .result {
      padding: 0;
      height: 1.8rem;
  }

  hr {
      border-bottom: 1px solid #000;
  }

  .label__result-all {
      font-weight: bold;
      width: 6.87rem;
      margin: 0 0.5rem 0 0;
  }

  button{
    border-radius: 3px;
    border: 1px solid #b51b58;
    background: #ee5ba0;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    height: 2rem;
  }

  .button--newEntry::before{
    content: "\02795" / "";
  }

  .button--copy{
      border-radius: 3px;
      border: 1px solid #b51b58;
      background: #ee5ba0;
      font-size: 16px;
      font-weight: bold;
      color: #FFF;
      height: 2rem;
  }

  .button--copy::before {
      content: "\01F4CB" / "";
  }

  .button--newEntry:hover , .button--copy:hover {
      background: #b51b58;
      cursor: pointer;
  }
