  .wrapper {
      margin: 0;
  }

  .timecalc {
      text-align: center;
  }

  .timecalc * {
      font-family: OpenSans, Arial, sans-serif;
  }

  .timecalc form {
      display: inline-block;
      text-align: left;
      max-width: 320px;
      background-color: #fff350;
      border: 2px dashed #FFF;
      padding: 8px;
  }

  .timecalc .input_line,
  .output_line {
      display: block;
      padding: 8px 4px;
  }

  .timecalc .input_line label {
      display: inline-block;
      font-weight: bold;
      width: 110px;
  }

  .timecalc .input_line .small_label {
      font-weight: lighter;
      font-size: 12px;
      width: auto;
      color: #808184;
  }

  .timecalc .input_line input[type="time"],
  .timecalc .input_line input[type="text"] {
      padding: 4px;
      font-size: 16px;
      width: 96px;
  }

  .timecalc .input_line input[type="button"] {
      border-radius: 3px;
      border: 1px solid #b51b58;
      background: #ee5ba0;
      font-size: 16px;
      font-weight: bold;
      color: #FFF;
      height: 32px;
  }

  .timecalc .input_line input[type="button"]:hover {
      background: #b51b58;
      cursor: pointer;
  }


  .copy-button {
      border-radius: 3px;
      border: 1px solid #b51b58;
      background: #ee5ba0;
      font-size: 16px;
      font-weight: bold;
      color: #FFF;
      height: 32px;
  }

  .copy-button::before{
    content: "\01F4CB" / " ";
  }

  .copy-button:hover {
      background: #b51b58;
      cursor: pointer;
  }

  .timecalc hr {
      border: 0;
      border-bottom: 5px dotted #000;
  }